<!DOCTYPE html>
<html>
<head>
  <title>Odyssey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.14&amp;sensor=false&amp;libraries=geometry' %>
  <%= csrf_meta_tags %>
  <meta content="initial-scale=0, maximum-scale=1, user-scalable=2" name="viewport" />
</head>
<body>
<%= render '/layouts/header' %>
<div id="wrapper">
	<div id="content">
		<%= yield %>
	</div>
</div>
<%= render '/layouts/footer' %>
</body>
</html>
